@import 'tailwindcss';

@theme {
  /* ===== COLORS ===== */
  /* ROSE */
  --color-ds-rose-200: oklab(93.14% -0.01174 0.00191);
  --color-ds-rose-500: oklab(91.067% 0.02845 0.01739);
  --color-ds-rose-700: oklab(84.822% 0.02696 0.02838);
  --color-ds-rose-900: oklab(65.59899999999999% 0.04704 0.02773);

  /* BLUE */
  --color-ds-blue-200: oklab(89.415% -0.01311 -0.0126);
  --color-ds-blue-500: oklab(66.25999999999999% -0.02961 -0.02566);
}

:root,
html,
body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  height: 100%;
}
